@import '../../styles/variables.scss';

.pagination {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;

  .pagination__counter {
    color: $blue-black;
    font-family: $font-primary;
    font-size: 14px;
  }

  .pagination__buttons {
    display: flex;
    align-items: center;
    gap: 20px;

    .pagination__button {
      width: 50px;
      height: 50px;
      border: none;
      transition: all 0.35s ease-in-out;
      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }
      &::after {
        width: 50px;
        height: 50px;
      }
      &:disabled {
        opacity: 0.5;
      }
      @media screen and (max-width: 500px) {
        width: 25px;
        height: 25px;
      }
    }

    .button_prev {
      background: url(../../assets/icons/nav_button_prev.svg) no-repeat center;

      @media screen and (max-width: 500px) {
        background: url(../../assets/icons/nav_button_prev_small.svg) no-repeat
          center;
      }
    }

    .button_next {
      background: url(../../assets/icons/nav_button_next.svg) no-repeat center;
      @media screen and (max-width: 500px) {
        background: url(../../assets/icons/nav_button_next_small.svg) no-repeat
          center;
      }
    }
  }
}
