@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.year__container {
  @include fluid-text(56, 200);
  max-width: 973px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: $font-primary;
  font-style: normal;
  font-weight: 700;
  line-height: 160px; /* 80% */
  letter-spacing: -4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  z-index: 2;
  .from {
    color: $accent-blue;
    background-color: transparent;
  }
  .to {
    color: $accent-pink;
    background-color: transparent;
  }

  @media screen and (max-width: 992px) {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }

  @media screen and (max-width: 500px) {
    line-height: normal;
    letter-spacing: -1.12px;
  }
}
