@import '../../styles/variables.scss';

.page__container {
  display: flex;
  justify-content: space-between;
  align-self: start;
  margin-left: -80px;
  gap: 78px;
  z-index: 3;

  .page__title {
    margin: 0;
    padding: 0;
    width: 353px;
    color: $blue-black;
    font-family: $font-primary;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;

    @media screen and (max-width: 992px) {
      margin-left: 80px;
      font-size: 36px;
      width: 123px;
      position: relative;
    }
    @media screen and (max-width: 550px) {
      margin-left: 80px;
      font-size: 20px;
      position: relative;
    }
  }
}
