@import '../../variables.scss';

.page__container {
  position: absolute;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-self: start;
  gap: 78px;
  z-index: 3;

  .page__title {
    margin: 0;
    padding: 0;
    width: 353px;
    color: $blue-black;
    font-family: 'PT Sans';
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;

    @media screen and (max-width: 992px) {
      margin-left: 40px;
      font-size: 36px;
    width: 123px;

    }
    @media screen and (max-width: 550px) {
      margin-left: 20px;
      font-size: 20px;
    }
  }
 
}
