$main-bg: #f4f5f9;
$devider: #C7CDD9;
$primary-color: rgba(66, 86, 122, 1);
$primary-color-opacity: rgba(66, 86, 122, 0.2);
$primary-color-dark: #303e58;
$bebas-blue: rgba(56, 119, 238, 1);
$bebas-blue-opacity: rgba(56, 119, 238, 0.5);

$accent-blue: #5D5FEF;
$accent-pink: #EF5DA8;

$font-primary: 'PT Sans';
$font-secondary: 'Bebas Neue'