@import '../../variables.scss';

.swiper {
  display: flex;
  gap: 50px;
  flex-direction: column-reverse;
  width: 100%;
  padding-bottom: 20px;
  z-index: 2;

  .swiper-slide {
    display: flex;
    gap: 20px;

  }
  // .swiper-pagination {
  //   position: absolute;
  //   bottom: 0;
  // }

  @media screen and(max-width: 992px){
    flex-direction: column;
  }
}
