$main-bg: #f4f5f9;
$devider: #C7CDD9;
$blue-black: rgba(66, 86, 122, 1);
$blue-black-opacity: rgba(66, 86, 122, 0.2);
$blue-black-dark: #303e58;
$bebas-blue: rgba(56, 119, 238, 1);
$accent-blue: #5D5FEF;
$accent-pink: #EF5DA8;

$font-primary: 'PT Sans';
$font-secondary: 'Bebas Neue'